.forms {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    justify-content: space-around;
    // color: #fff;

    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: 1fr;
    }
}
.info {
    display: grid;
    grid-gap: 1rem;
    align-items: center;
    font-size: 1.5rem;
    & > * {
        // width: 100%;
        &::placeholder {
            font-size: 1.5rem;
        }
    }
    
    &__photo {
        // display: none;
        // visibility: hidden;
    }

    &__info {
        // width: 40rem;
        height: 10rem;
    }

    &__item {
        &-block {
            display: grid;
            grid-template-columns: 1fr max-content;
            grid-gap: 1rem;
        }

        &-plus {
            cursor: pointer;
        }
    }

    &__contacts {
        &-block {
            display: grid;
            grid-template-columns: 1fr 1fr max-content;
            align-items: center;
            grid-gap: 1rem;
        }
        
        &-icon {
            width: 100%;
        }

        &-block {
            width: 100%;
        }
    }
}

.project {
    display: grid;
    grid-gap: 1rem;
    align-content: start;
    font-size: 1.5rem;
    position: relative;

    &__cross {
        position: absolute;
        color: #000;
        font-size: 3rem;
        top: 0;
        transform: translateX(-150%);
        cursor: pointer;
    }

    &__info {
        // width: 40rem;
        height: 10rem;
    }

    &__video-block,
    &__media-block {
        display: grid;
        grid-template-columns: 1fr max-content;
        grid-gap: 1rem;
    }

    &__plus {
        cursor: pointer;
    }
}

.admin {
    background-color: #fff;
    color: #000;
}

input {
    height: 3rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    border: 1px solid;

    &[type="file"] {
        height: auto;
        padding: 0;
        display: flex;
    }
}

button {
    border: 1px solid;
    height: 4rem;
    background: rgb(16, 116, 163);
    color: white;
    font-size: 1.8rem;
}

textarea {
    padding-left: 1rem;
    padding-top: .5rem;
    font-size: 1.5rem;
    border: 1px solid black;
}

.none {
    display: none;
}